  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    background-color: rgb(60, 46, 61);
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 80px;
    opacity: 0.7;
}

.img-container {
    width: 60px;
    height: 60px;
}

.img-container img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.nav__items a{
  color: rgb(250, 249, 249);
  padding: 8px;
  transition: 0.3s ease-in-out;
  margin-right: 8px;
  text-transform: uppercase;
  border-radius: 40%;
}

.nav__items a:hover{
 background-color: rgb(236, 199, 192);
 color:#3c2e3d;
 opacity: 1;
}

.img-fondo-container{
    width: 100%;
    height: 200px;
}

.img-fondo-container img{
    width: 100%;
    height: 100%;
}

#Presentacao {
    background-color: rgb(236, 199, 192);
    padding: 16px 0;
    display: flex;
    justify-content: center;
}

.presentacao-content{
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 50%;
}

.perfil-redes-container{
    position: absolute;
    top: -90px;
    left: 0px;
    }

  .presentacao-container a{
    color:  #3c2e3d;
    background-color: rgb(236, 199, 192);
  }

  .presentacao-container a:hover{
    text-decoration: navajowhite;
    background-color: #3c2e3d;
    color:#dae9e4;
  }

.perfil-redes{
    background-image: url("fredymar.jpgp.jpg");
    width: 180px;
    height: 180px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 50%;
}

.perfil-redes a{
    text-decoration: none;
    position: absolute;
}

.gitbuh-link{
    bottom: -20px;
    left: 15px;
}

.linkdin-link{
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.facebook-link{
    bottom: -20px;
    right: 15px;
}

.perfil-redes img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.3s;
}

.perfil-redes img:hover{
    transform: scale(1.2);
}

.presentacao-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.titulo {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
}

/*Formacion*/

#Formacao{
  background-color: #dae9e4;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.Formacao-container{
  width: 50%;
}

.Formacao-container h2{
  font-weight: 700px;
  font-style: italic;
  color:rgb(87, 86, 86)
}

.Formacao-item{
  margin-top: 16px;
  padding-left: 8px;
  border-left: 6px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.ano{
    font-size: 14px;
    text-transform: uppercase;
}

.diploma{
    font-size: 14px;
}

.instituicao{
    font-size: 14px;
    text-transform: uppercase;
}

/*Experiencia*/
#Experiencia{
  background-color: rgb(139, 203, 200);
  padding: 16px 0;
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.Experiencia-container{
  width: 50%;
}

.Experiencia-container h2{
  font-weight: 700px;
  font-style: italic;
  color:rgb(87, 86, 86)

}

.Experiencia-item{
  margin-top: 16px;
  padding-left: 8px;
  border-left: 6px solid rgb(250, 250, 250);
  border-radius: 5px;
}

.ano{
  font-size: 14px;
  text-transform: uppercase;
}

.ocupacao{
  font-size: 14px;
}

.empresa{
    font-size: 14px;
    text-transform: uppercase;
}

#Projetos{
  padding: 16px 0;
  background-color:  rgb(236, 199, 192);
  color:  #3c2e3d;
  display: flex;
  justify-content: center;
  border-radius: 5px solid;
}

.card-body a {
  font-size: 14px;
  padding: 4px 8px;
    
  }
  
.card-botoes a{
  display: flex center;
  width: 100%;
  justify-content: space-between;
  background-color: #3c2e3d;
  border-radius: 4px;
  }
  
.card-container {
  width: 50%;
  }
  
.cards-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  }
  
  .card-title {
    font-size: 14px;
    line-height: 14px;
    color:#3c2e3d;
  }
  
  .card-text {
    font-size: 14px;
    line-height: 14px;
    color: rgb(139, 203, 200);
  }
  
  .card {
    width: 32%;
    margin-bottom: 8px;
  }
  
  .card-container h2 {
    font-weight: 300;
    font-style: italic;
  }