  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  cursor: inherit;
}

header{
  display: flex;
  background-color: rgb(60, 46, 61);
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 80px;
  opacity: 0.7;
}

.img-container {
  width: 60px;
  height: 60px;
}

.img-container img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.nav__items a{
  color:rgb(93, 64, 95);
  padding: 8px;
  transition: 0.3s ease-in-out;
  margin-right: 8px;
  text-transform: uppercase;
  border-radius: 5%;
  background-color: rgb(236, 199, 192);
  border: 1px solid black;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
}

.nav__items a:hover{
  background-color: rgb(253, 174, 132);
  color: rgb(250, 249, 249);
  opacity: 1;
  border-radius: 45%;
  cursor: pointer;
}

.nav__items a:active{
  color:black;
  background-color: rgb(255, 255, 255);
}

.img-fondo-container{
  width: 100%;
  height: 200px;
}

.img-fondo-container img{
  width: 100%;
  height: 100%;
}

#Presentacao {
  background-color: #fdae84;
  padding: 16px 0;
  display: flex;
  justify-content: center;
}

.presentacao-content{
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 50%;
}

.perfil-redes-container{
  position: absolute;
  top: -90px;
  left: 0px;
}

.presentacao-container a{
  color:  #271f27;
  font-size: 20px;
}

.presentacao-container a:hover{
  text-decoration: underline rgb(255, 222, 173);
  background-color: #3c2e3d;
  color:#dae9e4;
  cursor: pointer;
}

.perfil-redes{
  background-image: url("fredymar.jpgp.jpg");
  width: 180px;
  height: 180px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
}

.perfil-redes a{
  text-decoration: none;
  position: absolute;
}

.gitbuh-link{
  bottom: -20px;
  left: 15px;
}

.linkdin-link{
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.facebook-link{
  bottom: -20px;
  right: 15px;
}

.perfil-redes img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.3s;
}

.perfil-redes img:hover{
  transform: scale(1.2);
  border: 2px solid #8bcb8b;
}

.presentacao-container{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}

.titulo {
  font-size: 25px;
  font-weight: 400;
  font-style: italic;
}

/*Formacao*/

#Formacao{
  background-color: #ecc7c0;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  border-width: 2px;
  border-style:outset;
  border-color: #8bcb8b;
}

.Formacao-container{
  width: 50%;
}

.Formacao-container h2{
  font-weight: 700px;
  font-style: italic;
  letter-spacing: 1px;
  color:rgb(87, 86, 86);
}

.Formacao-item1{
  margin-top: 17px;
  padding-left: 8px;
  border-left: 6px solid #8bcb8b;;
  border-radius: 5px;
}

.Formacao-item2{
  margin-top: 25px;
  padding-left: 8px;
  border-left: 6px solid rgb(60, 46, 61);
  border-radius: 5px;
}
.ano{
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1px;
}

.diploma{
  font-size: 14px;
  line-height: 1px;
}

.instituicao{
  font-size: 14px;
  text-transform: uppercase;
}

/*Experiencia*/
#Experiencia{
  padding: 20px 0;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}
  
.Experiencia-container{
  width: 50%;
}

.Experiencia-container h2{
  font-weight: 700px;
  font-style: italic;
  color:rgb(87, 86, 86);
}

.Experiencia-item1{
  margin-top: 16px;
  padding-left: 8px;
  border-left: 6px solid rgb(236, 199, 192);
  border-radius: 5px;
}

.Experiencia-item2{
  margin-top: 20px;
  padding-left: 8px;
  border-left: 6px solid  rgb(60, 46, 61);
  border-radius: 5px;
}

.Experiencia-item3{
  margin-top: 20px;
  padding-left: 8px;
  border-left: 6px solid rgb(253, 174, 132);
  border-radius: 5px;
}

.ano{
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1px;
}

.ocupacao{
  font-size: 14px;
  line-height: 1px;
}

.empresa{
  font-size: 14px;
  text-transform: uppercase;
}

/*Projetos*/
#Projetos{
  padding: 20px 0;
  background-color:  #dae9e4;
  color:  #3c2e3d;
  display: flex;
  justify-content: center;
  border-radius: 5px solid;
}

.card-body a {
  font-size: 15px;
  padding: 4px 8px;
  text-decoration: none;
  background-color: rgb(60, 46, 61);
}

.card-body a:hover{
  background-color: rgb(253, 174, 132);
  color: rgb(250, 249, 249);
  opacity: 1;
  border-radius: 45%;
}
  
.card-botoes {
  display: inline-block;
  border-radius: 4px;
  margin: 0px 5px 10px 40px;
  text-decoration: none;
}

.card-container {
  width: 50%;
}

.cards-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
  
.card-title {
  font-size: 20px;
  text-align: center;
}
  
.card-text {
  font-size: 16px;
  text-align: justify;
}
  
.card {
  width: 45%;
  height: 400px;
  margin-bottom: 8px;
  border-bottom: 1px solid rgb(236, 199, 192);
  box-shadow: 0 1px 0 rgb(0 0 0 / 12%);
}

.card:hover{
  cursor: pointer;
  border-bottom: 1px solid rgb(60, 46, 61);
  box-shadow: 0 0 2px 2px rgb(0 0 0 / 12%), 0 10px 16px 0 rgb(0 0 0 / 12%);
}

.card-container h2 {
  font-weight: 500;
  font-style: italic;
}

/*Contato*/

#Contato1{
background-color:#3c2e3d;
width: 100%;
}

#Contato1 h1{
  font-style: italic;
  font-weight: 300px;
  color: #fdae84;
  padding-left: 20%;
  padding-top: 10px;
}

.contato-container1{
  background-color:#3c2e3d;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contato-conteudo1{
  background-color: #3c2e3d;
  width: 45%;
  font-family: sans-serif;
  font-size: 20px;
  color: #fdae84;
  height: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.icones-contato{
  display: flex;
  align-items:baseline;
  margin-right: 30px;
}

.icones-contato img{
  width: 70%;
  height: 70%;
  border: 2px solid rgb(252, 175, 133);
  border-radius: 20px;
  padding: 4px;
}

.icones-contato img:hover{
  border-radius: 30px;
  border-color:  rgb(139, 203, 139);
  cursor: pointer;
}
/*FORMULARIO*/
.formulario-container{
  position: relative;
  margin-bottom: 20px;
  width: 40%;
}

.form-control{
  color: black;
  font-size: 20px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label{
  display: inline-block;
  margin-bottom: 15px;
}

.form-control input, textarea{
  border: 2px solid rgb(252, 175, 133);
  display: block;
  border-radius: 16px;
  font-size: 15px;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.form-control i{
  position: absolute;
  top: 45px;
  right: 16px;
  visibility: hidden;
}

.form-control small{
  position: absolute;
  bottom: 0;
  left: 5px;
  padding-top: 4px;
  visibility: hidden;
}

.boton{
  display: flex;
  justify-content: space-around;
}

button{
  font-size: 1.1em;
  color: black;
  padding: 0.3em 0.7em;
  background-color: rgb(252, 175, 133);
  left: 45%;
  cursor: pointer;
  transition: all 1s;
}

button:hover{
  background-color: #ccbbff;
  box-shadow: inset 2px 2px rgb(0,0,0,2);
  text-shadow: none;
  border-radius:15px;
  cursor: pointer;
}

button:focus{
  background-color: rgb(139, 203, 139);
  box-shadow: inset 4px 4px rgb(0,0,0,3);
  text-shadow: none;
  border-radius:18px;
}

.form-control.success input {
  border-color: #10d361;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control.error small {
  color: #e74c3c;
  visibility: visible;
}

.project {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  border: 1px solid black;
  padding: 8px;
  border-radius: 16px;
  margin-top: 16px;
  background-color: white;
}

.project-title {
  font-size: 1.2rem;
  color: #0b5ed7;
}

.url {
  color: #535352;
  font-size: 0.9rem;
  text-decoration: none;
}

.data {
  color: #535352;
  font-size: 0.8rem;
  border: 1px solid #535352;
  padding: 4px;
  border-radius: 16px;
}

.punto {
  display: flex;
  align-items: center;
}

.data-punto {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}

.lenguaje {
  color: black;
  font-size: 1rem;
  margin-left: 4px;
}

.circulo {
  margin: 0;
  padding: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #0b5ed7;
}

/*Responsibidad
@media screen and (max-width:480px){
header{
  flex-direction: column;
  height: auto;
  padding: 0 60px;
}
.img-container {
  flex-direction: column;
  width: 150px;
  height: 150px;
}
.nav__items {
  margin-top: 10px;
  flex-direction: column;
}
    
.presentacao-content{
  width: 90%;
 }

.perfil-redes{
  margin-top: 85px;
  justify-content: end;
}
.presentacao-container{
  margin-top: 200px;
  width: 260px;
  align-items: center;
}

.Formacao-container{
  width: 90%;
}
      
.Experiencia-container{
  width: 90%;
}
.ocupacao{
  line-height: normal;
}
.empresa{
  width: 250px;
}

.card-container {
  width: 90%;
}

.cards-content {
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}
.card {
  width: 90%;
}

.contato-container1{
  width: 100%;
  flex-direction: column;
  height: auto;
}
.contato-conteudo1{
  width: 90%;
}

.contatoformulario1{
  padding-top: 80px;
  width: 90%;
}
}

@media screen and (min-width: 481px) and (max-width: 768){
header{
  display: flex;
  justify-content:stretch;
  height: auto;
}
  
.nav__items {
  margin-top: 10px;
  flex-direction: column;
  justify-content: space-between;
}

#Experiencia{
  width: 200px;
}

.Experiencia-container{
  width: 100%
}
.card-container {
  width: 90%;
}

.cards-content {
  flex-direction: column;
  width: 100%;
flex-wrap: wrap;
}
.card {
  width: 90%;
  height: auto;
}

.contato-conteudo{
  width: 100%;
  flex-direction: column;
}

.contato-informacao{
  width: 100%;
}

.formulario-container{
  width: 100%;
}
}

/*@media screen and (min-width: 820px) and (max-width: 1180){


.nav__items {
  margin-top: 10px;
  flex-direction: column;
  justify-content: space-between;
}
    
.presentacao-content{
  width: 100%;
  padding-top: 90px;
  display: flex;
}
.perfil-redes-container{
  margin-top: 600px;
}
.presentacao-container{
  margin-top: 200px;
  width: 110px;
}
    
.Experiencia-container{
  width: 90%;
  padding-left: 40%;
}

.ocupacao{
  line-height: normal;
  width: 100%;
}
.empresa{
  width: 400px;
}
    
.card-container {
  width: 90%;
}
    
.cards-content {
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}
.card {
  width: 90%;
  height: auto;
}
    
.contato-conteudo{
  width: 100%;
  flex-direction: column;
}
    
.contato-informacao{
  width: 100%;
}
    
.formulario-container{
  width: 100%;
}
}

@media screen and (min-width:961px) and (max-width: 1200px){
header{
  display: flex;
  justify-content:space-around;
  height: auto;
}
      
.img-container {
  flex-direction: column;
  width: 150px;
  height: 150px;
}

.nav__items {
  margin-top: 10px;
  flex-direction: column;
  justify-content: space-between;
}
      
.presentacao-content{
  width: 90%;
  margin-top: 90px;
}
      
.Experiencia-container{
  width: 90%;
  padding-left: 40%;
}

.ocupacao{
  line-height: normal;
  width: 100%;
}

.empresa{
  width: 400px;
}
      
.card-container {
  width: 90%;
}
      
.cards-content {
  width: 100%;
  flex-wrap: wrap;
}
.card {
  width: 45%;
  height: auto;
  justify-content: space-between;
}
      
.contato-conteudo{
  width: 100%;
}
      
.contato-informacao{
  width: 50%;
}
      
.formulario-container{
  width: 50%;
}
}*/