  @import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Cantarell', sans-serif;
}

/*Cabecalho*/
header{
    display: flex;
    background-color: #3c2e3d;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 80px;
}

.img-container {
    width: 60px;
    height: 60px;
}

.img-container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.nav__items a{
    color: rgb(196, 193, 193);
    padding: 8px;
    margin-right: 8px;
    text-transform:uppercase;
}

.nav__items a:hover{
 background-color: #fdae84;
 color: #3c2e3d;
}

/*Presentacao*/
.img-fondo-container{
    width: 100%;
    height: 200px;
}

.img-fondo-container img{
    width: 100%;
    height: 100%;
}

#Presentacion {
    background-color: #dae9e4;
    padding: 16px 0;
    display: flex;
    justify-content: center;
}

.presentacion-content{
    display: flex;
    justify-content: center;
    position: relative;
    width: 50%;
}

.perfil-redes-container{
    position: absolute;
    top: -90px;
    left: -90px;
    }

.perfil-redes{
    background-image: url("Imagens/fredymar.jpgp.jpg");
    width: 180px;
    height: 180px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: relative;
}

.perfil-redes a{
    text-decoration: none;
    position: absolute;
}

.gitbuh-link{
    bottom: -20px;
    left: 15px;
}

.linkdin-link{
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.facebook-link{
    bottom: -20px;
    right: 15px;
}

.perfil-redes img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.perfil-redes img:hover{
    transform: scale(1.2);
}

.presentacion-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.titulo {
    font-size: 28px;
    font-weight: 300;
    font-style: italic;
}